/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.main-container{
	display: flex;
	flex-direction: column;
}
header{
	background-color: #011e29;
	color: white;
	text-align: center;
	padding: 10px;
}
.content{
	display: flex;
}
.latest-news-section{
	width: 300px;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
.main-article{
	width: 300px;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
.pictorial-news-section{
	text-align: center;
	width: 300px;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
img{
	height: 100px;
	width: 150px;
}